

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#map {
    /*margin: 10px;*/
    background: beige;
    width: 300px;
    height: 300px;
}

.blockRow {
    clear: both;
}

.block {
    float: left;
    width: 30px;
    height: 30px;
}

.stone {
    background: #808080;
}










