<div ng-controller="KeyPressCtrl">
    <div
            ui-keypress="{65:'keypressCallbackLeft($event)',
             83:'keypressCallbackRight($event)',
             87:'keypressCallbackUp($event)',
             32: 'keypressCallbackSpace($event)',
             68: 'keypressCallbackDown($event)'
             }"

            ui-keyup="{65:'keypressCallbackUpLeft($event)',
             83:'keypressCallbackUpRight($event)',
             87:'keypressCallbackUpUp($event)',
             32: 'keypressCallbackUpSpace($event)',
             68: 'keypressCallbackUpDown($event)'
             }"

            ng-include="'partials/map.html'" tabindex="0">
</div>

</div>
